# html files by doxygen
doxygen/html/

# latex files by doxygen
doxygen/latex/Makefile
doxygen/latex/*.tex
doxygen/latex/*.sty
doxygen/latex/*.aux
doxygen/latex/*.idx
doxygen/latex/*.ilg
doxygen/latex/*.ing
doxygen/latex/*.log
doxygen/latex/*.out
doxygen/latex/*.toc
doxygen/latex/*.ind